{% extends 'base.html.twig' %}

{% block title %}Booking index{% endblock %}

{% block body %}
    <h1>Booking index</h1>

    <table class="table">
        <thead>
            <tr align="middle">
                <th> Id </th>
                <th> Date de creation </th>
                <th> Date de debut </th>
                <th> Date de fin </th>
                <th> Derniere modification </th>
                <th> Description </th>
                <th> Photo </th>
                <th> Titre </th>
                <th> Actions </th>
            </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.id }}</td>
                <td> </td>
                <td>{{ booking.beginAt ? booking.beginAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ booking.endAt ? booking.endAt|date('Y-m-d H:i:s') : '' }}</td>
                <td> </td>
                <td> {{ booking.description }} </td>
                <td> {{ booking.photo }} </td>
                <td>{{ booking.title }}</td>
                <td>
                    <a href="{{ path('booking_show', {'id': booking.id}) }}">show</a>
                    {% if app.user.roles[0] == 'ROLE_ADMIN' or app.user.roles[0] == 'ROLE_EDITOR' %}
                    	<a href="{{ path('booking_edit', {'id': booking.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	{% if app.user.roles[0] == 'ROLE_ADMIN' or app.user.roles[0] == 'ROLE_EDITOR' %}
    	<button type="button" class ="btn btn-success" onclick=self.location.href='{{ path('booking_new') }}'; return false;">Create New</button>
    {% endif %}
    <button type="button" class ="btn btn-success" onclick=self.location.href='/booking/calendar'; return false;">Open Calendar</button>
    
{% endblock %}
