{% extends 'base.html.twig' %}

{% block title %}Booking{% endblock %}

{% block body %}
    <h1>Booking</h1>

    <table class="table">
        <tbody>
            <tr>
                <th> Id </th>
                <td>{{ booking.id }}</td>
            </tr>
            <tr>
                <th> Date de creation </th>
                <td> {{ booking.getDateCreation() }}</td>
            </tr>
            <tr>
                <th> Date de debut </th>
                <td>{{ booking.beginAt ? booking.beginAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th> Date de fin </th>
                <td>{{ booking.endAt ? booking.endAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th> Date de modification </th>
                <td>  {{ booking.getLastModification() }}</td>
            </tr>
            <tr>
                <th> Description </th>
                <td> {{ booking.description }} </td>
            </tr>
            <tr>
                <th> Photo </th>
                <td>  <img src="{{ asset('uploads/' ~ booking.photo) }}"></></td>
            </tr>
            <tr>
                <th> Titre </th>
                <td>{{ booking.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('booking_index') }}">back to list</a>
	{% if app.user.roles[0] == 'ROLE_ADMIN' or app.user.roles[0] == 'ROLE_EDITOR' %}
    	<a href="{{ path('booking_edit', {'id': booking.id}) }}">edit</a>
        {{ include('booking/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
