{% extends 'base.html.twig' %}

{% block title %}Booking{% endblock %}

{% block body %}
    <h1>Booking</h1>

    <table class="table">
        <tbody>
            <tr>
                <th> Id </th>
                <td>{{ booking.id }}</td>
            </tr>
            <tr>
                <th> Creation date </th>
                <td> {{ booking.getDateCreation() }}</td>
            </tr>
            <tr>
                <th> Start date </th>
                <td>{{ booking.beginAt ? booking.beginAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th> End date </th>
                <td>{{ booking.endAt ? booking.endAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th> Editing date </th>
                <td>  {{ booking.getLastModification() }}</td>
            </tr>
            <tr>
                <th> Description </th>
                <td> {{ booking.description }} </td>
            </tr>
            {% if booking.photo is not null  %}
                <tr>
                    <th> Photo </th>
                    <td>  <img src="{{ asset('uploads/' ~ booking.photo) }}" style="max-width:50%; height:auto;"/> </td>
                </tr>
                <tr>
           {% endif %}
           <th> Title </th>
                <td>{{ booking.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('booking_index') }}">Back to list</a>
	{% if app.user.roles[0] == 'ROLE_ADMIN' or app.user.roles[0] == 'ROLE_EDITOR' %}
    	<a href="{{ path('booking_edit', {'id': booking.id}) }}">Edit</a>
        {{ include('booking/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
