{% extends 'base.html.twig' %}

{% block body %}

	 <div class="example-wrapper">
            <h1>ACCOUNT</h1>    
            
            <p>Username: {{ app.user.Username }}</p>
            <p>Email: {{ app.user.Email }}</p>
           	<p>
           		Roles: {{ app.user.Roles[0] }}
           		{% if app.user.Roles[0]=='ROLE_VIEWER' or app.user.Roles[0]=='ROLE_ADMIN' %}
           				<a href="/changeStatus">Change status</a>
           		{% endif %}
           	</p>
            
            <br >         
            <h1>CHANGE SETTINGS</h1>

    		{{ form_start(form) }}
        
            {{ form_row(form.username, { 'attr': {'placeholder':'Username'}}) }}
            {{ form_row(form.email, { 'attr': {'placeholder':'Mail address'}}) }}
            
            
            <button type="submit" class="btn btn-success">Change</button>
        
            {{ form_end(form) }}
        </div>
{% endblock %}